frontend-reporter/node_modules/
frontend-reporter/package-lock.json
frontend-reporter/build/
frontend
backend-reporter/config.py
backend-reporter/demo_*
config_files
email.cfg
.idea/
*.pyc
*.swp
__pycache__
.coverage
.vscode
venv
.ignore
backend-reporter/outlib/tests/test_data/
backend-reporter/outlib/email_sent/
backup
*.ipynb
demo.docx
.~*
