div.dialogWithNews {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: rgba(138, 155, 168, 0.15);
}

div.dialogWithNews .dialog .bp3-callout {
    background: none;
}

div.dialogWithNews div.newsAndDocs {
    max-width: 50%;
    margin-left: auto;
}